<titulo-apartado [imagePath]="'./assets/img/estimacion.png'" [titulo]="'Estimaciones'">
</titulo-apartado>
<ion-row class="margin-content-bottom">
  <ion-col sizeLg="4" sizeMd="6" sizeSm="12" sizeXs="12">
    <ion-item>
      <ion-label position="stacked">{{'alturaSoflamadoMedia' | translate}}</ion-label>
      <ion-input [(ngModel)]="resultados.alturaSoflamadoMedia" readonly="true">
      </ion-input>
    </ion-item>
  </ion-col>
  <ion-col sizeLg="4" sizeMd="6" sizeSm="12" sizeXs="12">
    <ion-item>
      <ion-label position="stacked">{{'volumenCopaSoflamado' | translate}}</ion-label>
      <ion-input [(ngModel)]="resultados.volumenCopaSoflamado" readonly="true">
      </ion-input>
    </ion-item>
  </ion-col>
  <ion-col sizeLg="4" sizeMd="12" sizeSm="12" sizeXs="12">
    <ion-item>
      <ion-label position="stacked">{{'alturaSoflamadoHueco' | translate}} </ion-label>
      <ion-input [(ngModel)]="resultados.alturaSoflamadoHueco" readonly="true">
      </ion-input>
    </ion-item>
  </ion-col>
</ion-row>