<ion-header>
  <ion-toolbar>
    <div id="img-header"></div>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-grid fixed>
    <titulo-apartado [imagePath]="'./assets/img/comportamiento_fuego.png'" [titulo]="'Patrones'">
    </titulo-apartado>

    <ion-row>
      <ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'velocidadViento' | translate}} (km/h)
          </ion-label>
          <ion-input type="number" #velocidadVientoInput (keypress)="ui.numberOnlyValidation($event)"
            (ionInput)="updateVelocidadViento(velocidadVientoInput.value)" [(ngModel)]="velocidadViento">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'Carga total disponible' | translate}} (t/ha)</ion-label>
          <ion-input type="number" #cargaTotalInput (keypress)="ui.numberOnlyValidation($event)"
            (ionInput)="updateCargaTotal(cargaTotalInput.value)" [(ngModel)]="cargaTotal">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'Carga combustible fino muerto' | translate}} (t/ha)</ion-label>
          <ion-input type="number" #cargaFinoMuertoInput (keypress)="ui.numberOnlyValidation($event)"
            (ionInput)="updateCargaFinoMuerto(cargaFinoMuertoInput.value)" [(ngModel)]="cargaFinoMuerto">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'Número de líneas de encendido' | translate}}</ion-label>
          <ion-select cancelText="{{'Cancelar' | translate}}" #numeroLineasSelect [value]="numeroLineas"
            (ionChange)="updateNumeroLineas(numeroLineasSelect.value)">
            <ion-select-option *ngFor="let linea of lineasEncendido" [value]="linea">{{ linea.valor }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col sizeXl="6" sizeLg="6" sizeMd="12" sizeSm="12" sizeXs="12">
        <ion-item>
          <ion-label position="stacked">{{'Distancia entre líneas de encendido' | translate}} (m)</ion-label>
          <ion-input type="number" #distanciaLineasInput (keypress)="ui.numberOnlyValidation($event)"
            (ionInput)="updateDistanciaLineas(distanciaLineasInput.value)" [(ngModel)]="distanciaLineas">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item class="label-item">
          <ion-label style="font-size: 14px" position="stacked">{{'Métodos' | translate}}:</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item class="checkbox">
          <ion-checkbox slot="start" #checkboxEstimado [(ngModel)]="isEstimado"
            (ionChange)="updateIsEstimado(checkboxEstimado.checked)"></ion-checkbox>
          <ion-label>{{ 'Estimado' | translate }}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12">
        <ion-item class="checkbox">
          <ion-checkbox slot="start" #checkboxObservado [(ngModel)]="isObservado"
            (ionChange)="updateIsObservado(checkboxObservado.checked)"></ion-checkbox>
          <ion-label>{{ 'Observado' | translate }}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="6" sizeSm="12" sizeXs="12" *ngIf="isObservado">
        <ion-item>
          <ion-label position="stacked">{{'Velocidad propagación (Observado)' | translate}} (km/h)</ion-label>
          <ion-input type="number" #velocidadPropagacionInput (keypress)="ui.numberOnlyValidation($event)"
            (ionInput)="updateVelocidadPropagacion(velocidadPropagacionInput.value)" [(ngModel)]="velocidadPropagacion">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col sizeLg="3" sizeMd="6" sizeSm="12" sizeXs="12" *ngIf="isObservado">
        <ion-item>
          <ion-label position="stacked">{{'Longitud Llama (Observado)' | translate}} (m)</ion-label>
          <ion-input type="number" #longitudLlamaInput (keypress)="ui.numberOnlyValidation($event)"
            (ionInput)="updateLongitudLlama(longitudLlamaInput.value)" [(ngModel)]="longitudLlama">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col sizeLg="2" sizeMd="6" sizeSm="6" sizeXs="6" *ngIf="isObservado">
        <ion-item>
          <ion-label position="stacked">{{'numero_fajas' | translate}}</ion-label>
          <ion-select cancelText="{{'Cancelar' | translate}}" #numeroFajasSelect [value]="numeroFajas"
            (ionChange)="updateNumeroFajas(numeroFajasSelect.value)">
            <ion-select-option *ngFor="let linea of lineasEncendido" [value]="linea">{{ linea.valor }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col sizeLg="3" sizeMd="6" sizeSm="6" sizeXs="6" *ngIf="isObservado">
        <ion-item>
          <ion-label position="stacked">{{'distancia_fajas' | translate}}</ion-label>
          <ion-select cancelText="{{'Cancelar' | translate}}" #distanciaFajasSelect [value]="distanciaFajas"
            (ionChange)="updateDistanciaFajas(distanciaFajasSelect.value)">
            <ion-select-option *ngFor="let distancia of distanciaEntreFajas" [value]="distancia">{{ distancia.valor }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item class="label-item">
          <ion-label style="font-size: 14px" position="stacked">Calcular en:</ion-label>
        </ion-item>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="12" sizeSm="12" sizeXs="12">
        <ion-item class="checkbox">
          <ion-checkbox slot="start" #checkboxIsFajas [(ngModel)]="isFajas"
            (ionChange)="updateIsFajas(checkboxIsFajas.checked)"></ion-checkbox>
          <ion-label>{{'Fajas' | translate}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="12" sizeSm="12" sizeXs="12">
        <ion-item class="checkbox">
          <ion-checkbox slot="start" #checkboxFlancos [(ngModel)]="isFlancos"
            (ionChange)="updateIsFlancos(checkboxFlancos.checked)"></ion-checkbox>
          <ion-label>{{'Flancos' | translate}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="12" sizeSm="12" sizeXs="12">
        <ion-item class="checkbox">
          <ion-checkbox slot="start" #checkboxPuntos [(ngModel)]="isPuntos"
            (ionChange)="updateIsPuntos(checkboxPuntos.checked)"></ion-checkbox>
          <ion-label>{{'Puntos' | translate}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="12" sizeSm="12" sizeXs="12" *ngIf="isPuntos" class="col1-horizontal">
        <ion-item>
          <ion-label position="stacked">{{'Distancia horizontal entre puntos' | translate}} (m)</ion-label>
          <ion-select cancelText="{{'Cancelar' | translate}}" #distanciaPuntosSelect [value]="distanciaHorizontalPuntos"
            (ionChange)="updateDistanciaPuntos(distanciaPuntosSelect.value)">
            <ion-select-option *ngFor="let distancia of distanciasPuntos" [value]="distancia">{{ distancia.valor }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="estimar()" expand="block" [disabled]="isDisabledEstimation()">
          <ion-icon slot="start" name="pencil"></ion-icon>
          {{ 'Estimar' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="ScrollToTop()">
    <ion-fab-button color="light">
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>