ion-label {
    font-size: 18px !important;
}

.label-item {
    ion-icon {
        margin-right: 10px;
    }

    ion-label {
        font-size: 14px;
        margin-bottom: 19px;

    }
}

.resultados-apartado{
    margin-top: -15px;
}

.no-calculado-text{
    margin-left: 20px;
    margin-top: -15px;
    margin-bottom: 10px;
}