<ion-header>
  <ion-toolbar>
    <ion-title>{{'Registro' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">OK</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">{{'id' | translate}}
          </ion-label>
          <ion-input readonly="true" [value]="registro.id">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">{{'fecha' | translate}}
          </ion-label>
          <ion-input readonly="true" [value]="registro.fecha | date:'d/M/yy, h:mm a'">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">{{'velocidadViento' | translate}}
          </ion-label>
          <ion-input readonly="true" [value]="registro.velocidadViento | number : '1.0-3'">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">{{'cargaFinoMuerto' | translate}}
          </ion-label>
          <ion-input readonly="true" [value]="registro.cargaCombustibleFinoMuerto | number : '1.0-3'">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">{{'cargaTotal' | translate}} 
          </ion-label>
          <ion-input readonly="true" [value]="registro.cargaTotal | number : '1.0-3'">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">{{'numeroLineasEncendido' | translate}} 
          </ion-label>
          <ion-input readonly="true" [value]="registro.numeroLineasEncendido | number : '1.0-3'">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">{{'distanciaLineasEncendido' | translate}}
          </ion-label>
          <ion-input readonly="true" [value]="registro.distanciaLineasEncendido | number : '1.0-3'">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <resultado-estimaciones [resultados]="resultado"></resultado-estimaciones>
  </ion-grid>
</ion-content>